/source_files_data/file1.txt
/source_files_data/file2.txt
/source_files_data/file3.txt
/source_files_data/file4.txt
/source_files_data/file5.txt
/source_files_data/file6.txt
/source_files_data/file7.txt
/source_files_data/file8.txt
/source_files_data/file9.txt
/source_files_data/file10.txt
/tests/.pytest_cache/
